body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/474x/9c/fd/77/9cfd7750277c0a485cdef79b03aa047f.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#recommendation {
    margin-top: 20px;
}

.image {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.image:hover {
    opacity: 0.5;
}

.center {
    text-align: center;
}
